/* You can add global styles to this file, and also import other style files */
body {
  margin: 20px auto;
  width: 90%;
}

h1 {
  text-align: center;
}

button {
  margin: 10px;
}

.details {
  text-align: center;
}

#mission-details {
  margin: auto;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }
